/*................TAG SELECTOR..................*/
body {
    font-family: 'Nunito', sans-serif;
}

/*................ID SELECTOR..................*/

#mathlens {
    padding-bottom:3%;
    margin-bottom: 2%;
    background-image: url("../images/wave.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 60rem;
    overflow: hidden;
}

#features {
    margin: 2% 0%;
    padding: 3% 5%;
}

#primeAlgo {
    margin: 2% 0%;
    padding: 3%;
    background-color: #0481d5;
}

#onlineCalc {
    margin: 2% 0%;
    padding: 3%;
}

#downloads {
    margin: 2% 0%;
    padding: 8% 3%;
    background-color: #4fd4f7;
    overflow: hidden;
}

#partners {
    margin: 2% 0%;
    padding:  6% 3% 3%;
}

#footer {
    margin-top: 2%;
    padding: 3% 3% 0%;
    background-color: #f5f4f4;
    /* color: white;
    background-color: #0c3c84; */
    
}

/*................CLASS SELECTOR..................*/

.algo-img {
    width: 100%;
    position: relative;
    right: 8%;
    transform: rotate(20deg);
}

.card-indiv {
    text-align: center;
    padding: 2% 4%;
}

.card-indiv h3 {
    margin:3% 0% 6%;
    font-family: 'Quicksand', sans-serif;
}

.card-indiv button {
    margin-top: 5%;
    background-color: #0092f4;
}

.downloads-content {
    text-align: center;
}

.downloads-content button {
    margin-top: -4%;
}

.downloads-content h2 {
    margin-top: 5%;
    font-family: 'Quicksand', sans-serif;
    padding: 0% 8%;
    font-size: 3.5rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.downloads-content p {
    padding: 0% 18%;
    margin: 5% 0% 15%;
    color: rgb(52, 52, 52);
}

.featuresContent {
    text-align: center;
}

.featuresContent h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.95rem;
    margin-bottom: 6%;
    color: black;
}

.features-indiv {
    padding: 2%;
    margin-bottom: 5%;
}

.features-logo {
    font-size: 5rem;
    width: 100%;
    margin: 2% 0% 10%;
}

.features-logo:hover {
    color: #0481d5;
}

.footer-line {
    text-align: center;
    font-size: 1rem;
    padding: 1% 10%;
    border-top: 1px solid;
}

.footer-line-icon {
    margin-left: 10px;
}

.footer-line-icon:hover {
    color: #0091f1;
}

.footer-logo {
    padding-top: 3%;
    padding-right: 5%;
}

.footer-main {
    text-align: left;
}

.footer-main h2{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    margin-top: 3%;
    font-size: 4rem;
}

.footer-main h4{
    font-family: 'Quicksand', sans-serif;
    text-align: right;
    font-size: 3rem;
}

.footer-main h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    margin: 2% 0% 8%;
}

.footer-text {
    padding: 2%;
}

.graph-img, .intersect-img {
    width: 11.6rem;
    height: 11.6rem;
    margin: auto;
}

.infinityBlue-img {
    width: 150%;
    position: relative;
    margin-top: 11%;
    left: 10%;
}

.largeCube {
    width: 110%;
    position: relative;
    transform: rotate(45deg);
    left: 50%;
    top: 20%;
}

.linux-icon {
    margin-right: 2%;
    font-size: 2.5rem;
}

.mainContent {
    margin: 0% 5%;
}

.main-logo {
    font-size: 1.1rem;
}

.mainText {
    text-align: center;
    padding-top: 3%;
}

.mainText h1 {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 10%;
    font-size: 5.5rem;
    font-weight: 800;
    color: rgb(10, 10, 83);
}

.mainText p {
    font-size: 1.3rem;
    color: rgb(249, 249, 249);
}

.mathExp-img {
    width: 7.3rem;
    height: 11.6rem;
    margin: auto;
}

.navigate {
    margin-bottom: 5%; 
    padding-left: 2%;
    padding-right: 4%;
    backdrop-filter: blur(10px);
}

.nav-text a{
    font-size: 1.1rem;
    margin-left: 4px;
}

.partners-content {
    text-align: center;
    padding: 0% 30%;
}

.partners-content h2 {
    margin: 2% 0% 15%;
    font-family: 'Quicksand', sans-serif;
    padding: 0% 8%;
    font-size: 3.5rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.partners-list {
    margin-bottom: 10%;
}

.partners-list div{
    padding: 3%;
}

.partners-logo {
    font-size: 5rem;
}

.pieChart-img {
    width: 100%;
    position: relative;
    right: 40%;
    transform: rotate(20deg);
}

.primeAlgo-text {
    padding: 2% 4%;
    text-align: right;
}

.primeAlgo-text h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 4rem;
    margin-bottom: 6%;
    color: rgb(255, 255, 255);
}

.primeAlgo-text p {
    line-height:1.86;
    margin-bottom: 8%;
    font-size: 1.1rem;
    color: rgb(244, 241, 241);
}

.smallCube {
    position: relative;
    right: 40%;
    transform: rotate(37deg);
    width: 60%;
    top: 20%;
}

.windows-icon {
    margin-right: 30%;
    margin-left: 2%;
    font-size: 2.5rem;
}





/*................MEDIA QUERY..............*/

